* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.1px solid transparent;
}

.border:hover {
    border: 1.1px solid white;
}

.address-st {
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 15px;
}

.address-sec {
    font-size: 1rem;
    margin-left: 7px;
}

.address-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;

    width: 933px;
    height: 35px;

}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    ;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

span {
    font-size: 0.8rem;
}

.credential-info {
    font-size: 0.9rem;
    font-weight: 700;
}

.orders {
    font-weight: 700;
}

.nav-cart i {
    font-size: 28.5px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option {
    color: white;
    font-size: 0.9rem;
    width: 80%;
}

a {
    text-decoration: none;
    margin-left: 12px;
    font-size: 0.9rem;
    color: white;

}

.panel-deal {
    font-size: 1rem;
    font-weight: 600;
}

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 30px;
}

.amazondotin {
    text-decoration: none;
    color: #007185;
}

.shopping-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.box1-see-more {
    text-decoration: none;
    color: #007185;
}

.box1-name {
    margin-left: 13px;
}

.box1-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box2-see-more {
    text-decoration: none;
    color: #007185;
}

.box2-name {
    margin-left: 13px;
}

.box2-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box3-see-more {
    text-decoration: none;
    color: #007185;
}

.box3-name {
    margin-left: 13px;
}

.box3-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box4-see-more {
    text-decoration: none;
    color: #007185;
}

.box4-name {
    margin-left: 13px;
}

.box4-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box5-see-more {
    text-decoration: none;
    color: #007185;
}

.box5-name {
    margin-left: 13px;
}

.box5-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box6-see-more {
    text-decoration: none;
    color: #007185;
}

.box6-name {
    margin-left: 13px;
}

.box6-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box7-see-more {
    text-decoration: none;
    color: #007185;
}

.box7-name {
    margin-left: 13px;
}

.box7-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

.box8-see-more {
    text-decoration: none;
    color: #007185;
}

.box8-name {
    margin-left: 13px;
}

.box8-image {
    display: flex;
    height: 280px;
    width: 316.3px;
}

footer {
    margin-top: 35px;
}

.backtotop {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footpanel1 {
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 250px;
    justify-content: space-evenly;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

ul {
    list-style: none;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 30px;
}

.pointbox1:hover {
    text-decoration: underline;
}

.heading1 {
    margin-top: -0.01px;
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
}

.pointbox2:hover {
    text-decoration: underline;
}

.heading2 {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 13px;
}

.pointbox3:hover {
    text-decoration: underline;
}

.heading3 {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 13px;
}

.pointbox4:hover {
    text-decoration: underline;
}

.heading4 {
    font-weight: 700;
    font-size: 1rem;
    margin-left: 13px;
}

.footpanel5 {
    background-color: #222f3d;
    height: 50px;
    border-top: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #222f3d;
    border: 1px solid white;
    color: #dddddd;
    border-radius: 3px;
    font-size: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.lastfooter {
    height: 167px;
    background-color: #131a22;
    color: #dddddd;
    display: flex;
    justify-content: center;
}

.lastoptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lastbox1:hover {
    text-decoration: underline;
}

.lastbox2:hover {
    text-decoration: underline;
}

.lastbox3:hover {
    text-decoration: underline;
}

.lastbox4:hover {
    text-decoration: underline;
}

.copyright-div {
    background-color: #131a22;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-tag:hover {
    text-decoration: underline;
}

.lastline {
    margin-top: -28px;
    font-size: 0.8rem;
    background-color: #131a22;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}